%h1 Listing Police

%table.table.table-striped.table-condensed.table-bordered.bootstrap-datatable.datatable
  %tr
    %th.text-center First Name
    %th.text-center Last Name
    %th.text-center SvcId / Badge#
    %th.text-center Year Verified
    %th.text-center Title
    %th.text-center Department
    %th.text-center Precinct
    %th
    %th
    %th

  - @police.each do |police|
    %tr
      %td= police.first_name
      %td= police.last_name
      %td= police.svcid_badge
      %td= police.year_verified
      %td= police.title.name
      %td= police.department.name
      %td.text-center= police.precinct.nil? ? '   -    ' : police.precinct.name
      %td= link_to 'Show', police
      %td= link_to 'Edit', edit_police_path(police)
      %td= link_to 'Destroy', police, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Police', new_police_path
